.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}
.footer h5 {
    margin-bottom: 20px;
}
.footer ul {
    list-style-type: none;
    padding-left: 0;
}
.footer ul li {
    margin-bottom: 10px;
}
.footer ul li a {
    text-decoration: none;
    color: #333;
}
.footer ul li a:hover {
    color: #007bff;
}
.footer .follow {
    margin-left: 10px;
}
.footer img {
    vertical-align: middle;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}
.booking-form {
    background: white;
    padding: 20px;
    padding-right: 50px;
    padding-left: 35px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.booking-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}
.booking-form .form-group {
    margin-bottom: 15px;
}
.booking-form label {
    display: block;
    margin-bottom: 5px;
}
.booking-form input, .booking-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.booking-form button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.booking-form button:hover {
    background: #45a049;
}
